*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
  color: black;
}
.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: white;
}

.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text{
  margin-bottom: 32px;
  text-align: center;
}

.coin-input{
  cursor: pointer;
  color: black;
  padding-left: 16px;
  width: 600px;
  height: 40px;
  border-radius: 4px;
  border: none;
  border: 1px #cacaca solid;
  margin-top: 30px;
}
.spark{
  float: left;
  width: 100%;
  height: max-content;
  margin-top: 20px;
  opacity: .3;
}